name: CI

on: 
  push:
  schedule:
    - cron: '0 16 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
        with:
          repository: 'DeSireFire/animeTrackerList'
          path: .cache/animeTrackerList
        
      - uses: actions/checkout@v4
        with:
          repository: 'XIU2/TrackersListCollection'
          path: .cache/TrackersListCollection

      - uses: actions/checkout@v4
        with:
          repository: 'ngosang/trackerslist'
          path: .cache/trackerslist
          
      - uses: actions/checkout@v4
        with:
          repository: 'hezhijie0327/Trackerslist'
          path: .cache/Trackerslist
      
      - name: build
        run: |
          bash script.sh

      - name: config
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add all.txt
          git commit -a -m "update: $(date) total: $(awk NF all.txt | wc -l)"
          
      - name: update
        uses: ad-m/github-push-action@master
